/**
 * Layout stylesheet.
 *
 * The general rule is that the styles from here will not be needed for the CMS editor.
 * Styles related to content editing should go into typography.[s]css.
 */


 //* *** ATTENTION SCSS DEVELOPER ***
 //*
 //* If you are working with SCSS, please do not import other top-level 
 //* stylesheets here such as typography.scss. We want to be able to generate 
 //* clean CSS for the third-party dev to work with directly, without duplication 
 //* of css in the generated files!
 //*


// Import needed scss files. Bootstrap files require the bootstrap module in the themes directory
@import "compass/support"; //import an external compass library for IE9 SVG gradient support 
$experimental-support-for-svg: true; //for IE9 SVG gradient support 

@import 'bootstrap_config/bootstrap.scss';  //Core bootstrap layout components
/* @import 'components/forms'; */           //form specific scss
/* @import 'components/navigation'; */      //navigation components
/* @import 'components/mobile'; */          //mobile specific adjustments
/* @import 'components/sitemap'; */         //sitemap specific scss
/* @import 'components/results'; */         //search results specific scss


/*****************************
LAYOUT
******************************/

/* Delete styles below and replace with your own */

section { 
  header & .nav {
    padding-top: 20px;
  }
  &#feature {
    margin-top: 50px;
  }
  &#myCarousel {
    background-color: #eee;
    margin-top: 81px;
    .item {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
.aligncenter { text-align: center;}

.carousel {
  .carousel-control {
    font-size: 30px;
    height: auto;
    line-height: 1;
    padding: 4px 15px;
    width: auto;
    &:hover, &:focus {
      opacity: 0.9;
      text-decoration: none;
    }
  }
  .carousel-indicators {
    margin-bottom: 20px;
    position: relative;
    right: auto;
    text-align: center;
    top: auto;
    li {
      background: none repeat scroll 0 0 #BBBBBB;
      display: inline-block;
      float: none;
      &.active {
        background: none repeat scroll 0 0 #333333;
      }
    }
  }
}
#block.carousel { 
  margin: 0 50px; 

  .carousel-control {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #BBBBBB;
    left: -55px;
    &.right {
      left: auto;
      right: -55px;
    }
  }
}